In [5]:
import pandas as pd
import numpy as np

In [8]:
jee =pd.read_csv('C:\Edu\coding\python\Scikit Learn\jee.csv')
jee

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\User\AppData\Local\Temp\ipykernel_19064\1925840527.py:1: SyntaxWarning: invalid escape sequence '\E'
  jee =pd.read_csv('C:\Edu\coding\python\Scikit Learn\jee.csv')

,RollNo,Marks,Cutoff
0,60068\n69685\n37366\n67655\n35788\n13956\n3982...,773\n59\n42\n91\n98\n32\n10\n60\n90\n12\n87\n5...,53\n23\n11\n55\n64\n26\n13\n34\n47\n81\n41\n15...
1,NaN,59,23
2,NaN,42,11
3,NaN,91,55
4,NaN,98,64
...,...,...,...
495,NaN,76,16
496,NaN,62,25
497,NaN,66,84
498,NaN,95,7
499,NaN,37,49

In [7]:
jee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll No  1 non-null      object
 1   Marks    500 non-null    object
 2   Cutoff   500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [ ]:
jee.Ro